html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

body {
	font-family: $main-font;
	font-weight: 400;
	font-size: 16px;
	color: #555555;
	line-height: 1.4;
}

:focus {
	outline-offset: 0px;
	outline-style: solid;
	outline-width: 2px;
	outline-color: #000;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}