<header class="header">
	<div class="container">
		<div class="header__inner">
			<a href="#" class="header__logo"><img src="../images/mart-logo.png" alt="Logo MartPlace"></a>

			<button class="header__btn btn">Become a Seller</button>

			<div class="header__info">
				<a href="" class="header__link header__link--notification"><span class="header__link-number">25</span></a><div class="icon-alarm"></div>
				<a href="" class="header__link header__link--message"><span class="header__link-number">6</span></a>
				<a href="" class="header__link header__link--basket"><span class="header__link-number">2</span></a>
			</div>

			<a class="header__profile-avatar"><img src="../images/user-avatar.png" alt="User avatar"></a>
			<div class="header__profile-info">
				<div class="header__profile-name">Taofiq Hakim</div>
				<div class="h">$20.45</div>
			</div>
		</div>
	</div>
</header>